.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62px;
    color: rgb(218, 83, 173);
}   
.body{
    background-color: rgb(125, 242, 250);
}
.five{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px; 
    position: relative; bottom: -500px;
}
.log{
    text-align: center;
    position: relative; top: -50px;
}
.logon{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 83, 173);
    position: relative; top: -55px;
}
.cite_name {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 83, 173);
    font-size: 62px;
}