{% extends "users/layout.html" %}
{% load static %}


{% block body %}
    <h1>Welcome to Melanie's Web Page</h1>  
    {% csrf_token %}
    <a href="{% url 'logout' %}" class="logout">Log Out</a>

    <div class="flex-container">
        <div><img src="{% static 'users/images/m1.jpg' %}" alt="melmex" width="300" height="300"></div>
        <div><img src="{% static 'users/images/m2.jpg' %}" alt="babymel" width="300" height="300"></div>
        <div><img src="{% static 'users/images/m3.jpg' %}" alt="babymel2"width="300" height="300"></div>
        <div><img src="{% static 'users/images/m3.jpg' %}" alt="babymel2"width="300" height="300"></div>
    </div> 

    <p id="five" class="five">DISCLAIMER This site has been created for the sole use by Melanie Mugavero and 
        No one else.</p>    
{% endblock %}